.nav__background {
  background-color: #040516 !important;
  width: 100%;
  padding-bottom: 8px; }

:is(.content__wrapper .nav__wrapper .navigation .navigation__links .link__list .link) .link__about, .link__menu, .link__order {
  color: #c7a46c;
  text-decoration: none;
  border-bottom: none !important; }

.content__wrapper {
  flex: none;
  height: 100%; }
  .content__wrapper .content {
    padding: 32px; }
    .content__wrapper .content .image__background {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 70vh;
      width: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.6), #040516), linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(29, 29, 29, 0.05), #040516), url("/src/assets/images/storeFront.png");
      background-size: cover;
      color: #c7a46c;
      font-size: 56px; }
      .content__wrapper .content .image__background .cta__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto;
        padding: 20px 48px;
        border-radius: 50px;
        font-size: 24px;
        font-weight: 700;
        background-color: #c7a46c;
        color: #e6e6e6;
        text-decoration: none;
        letter-spacing: 4px;
        text-transform: uppercase; }
        .content__wrapper .content .image__background .cta__btn:hover {
          box-shadow: -1px -1px 4px #c7a46c, 1px 1px 4px #77603e;
          cursor: pointer; }
    .content__wrapper .content .nav__wrapper .navigation {
      background: transparent; }
      .content__wrapper .content .nav__wrapper .navigation .navigation__links .link__list .link .link__menu {
        border-bottom: none;
        padding-bottom: 0; }
    .content__wrapper .content .catchy__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      letter-spacing: 2px;
      text-align: center;
      padding: 16px 16px 0;
      color: #e6e6e6;
      line-height: 32px;
      font-size: 24px; }

.footer__wrapper .footer {
  margin-top: 130px; }

@media only screen and (min-width: 640px) {
  .content__wrapper .content {
    padding: 0; }
    .content__wrapper .content .catchy__text {
      padding: 0 44px; } }

@media only screen and (min-width: 1000px) {
  .content__wrapper .nav__wrapper .navigation {
    width: 60%;
    padding: 16px 0 8px;
    font-size: 24px; }
  .content__wrapper .content {
    padding: 0;
    display: flex;
    flex-direction: column; }
    .content__wrapper .content .image__background {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .content__wrapper .content .image__background .cta__btn {
        font-size: 32px;
        padding: 10px 24px; }
    .content__wrapper .content .catchy__text {
      width: 45%;
      margin: 0 auto;
      font-size: 24px;
      padding-top: 0;
      line-height: 32px; } }

@media only screen and (max-width: 640px) {
  .content__wrapper .nav__wrapper .navigation .navigation__links.link__list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #040516; }
  .content__wrapper .nav__wrapper .navigation .navigation__links .hamburger__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4px 0; }
    .content__wrapper .nav__wrapper .navigation .navigation__links .hamburger__menu .bar {
      width: 30px;
      height: 4px;
      background: #c7a46c;
      opacity: 0.7; }
  .content__wrapper .content {
    padding: 0; }
    .content__wrapper .content .catchy__text {
      padding: 0 32px; }
  .show {
    display: flex !important;
    justify-content: center;
    align-items: center; } }
