@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
.content__wrapper {
  height: 100%; }
  .content__wrapper .header__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 10px;
    gap: 8px;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 110px;
    background-color: #040516;
    z-index: 1;
    margin: 0 auto; }
    .content__wrapper .header__wrapper .underline {
      border: 2px solid #c7a46c;
      width: 64px;
      margin: 0 auto 40px;
      opacity: 0.7; }
    .content__wrapper .header__wrapper .header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 100%;
      font-weight: 900;
      font-size: 40px;
      color: #e6e6e6;
      padding: 0; }

@media (min-width: 640px) {
  .content__wrapper {
    flex: 1; }
    .content__wrapper .header__wrapper {
      padding: 80px 0; } }

@media (min-width: 1500px) {
  .content__wrapper {
    flex: none; }
    .content__wrapper .header__wrapper {
      width: 100%;
      padding-top: 80px; }
      .content__wrapper .header__wrapper .header {
        font-size: 56px; } }
