@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@import "variables";

.content__wrapper {
  height: 100%;

  .header__wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 10px;
    gap: 8px;
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 110px;
    background-color: $primaryBlue;
    z-index: 1;
    margin: 0 auto;

    .underline{
      border: 2px solid $primaryGold;
      width: 64px;
      margin: 0 auto 40px;
      opacity: 0.7;
    }

    .header{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 100%;
      font-weight: 900;
      font-size: 40px;
      color: $neutralWhite;
      padding: 0;
    }
  }
}

@media (min-width: 640px) {
  .content__wrapper {
    flex: 1;

    .header__wrapper{
      padding: 80px 0;
    }
  }
}

@media (min-width: 1500px) {
  .content__wrapper {
    flex: none;

    .header__wrapper{
      width: 100%;
      padding-top: 80px;

      .header{
        font-size: 56px;
      }
    }
  }
}