.content__wrapper .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  color: #e6e6e6;
  font-size: 40px;
  font-weight: 900; }

.content__wrapper .underline {
  border: 2px solid #c7a46c;
  width: 64px;
  margin: 0 auto 40px;
  opacity: 0.7; }

.content__wrapper .aboutus__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 32px; }
  .content__wrapper .aboutus__wrapper .restaurant__wrapper .text__wrapper .header__restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: #c7a46c;
    letter-spacing: 2px; }
  .content__wrapper .aboutus__wrapper .restaurant__wrapper .text__wrapper .text__restaurant {
    text-align: center;
    padding-bottom: 80px;
    letter-spacing: 2px;
    color: #e6e6e6; }
  .content__wrapper .aboutus__wrapper .restaurant__wrapper .image__restaurant {
    max-height: 250px;
    width: 100%;
    rotate: -3deg; }
  .content__wrapper .aboutus__wrapper .food__wrapper .text__wrapper .header__food {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: #c7a46c;
    letter-spacing: 2px; }
  .content__wrapper .aboutus__wrapper .food__wrapper .text__wrapper .text__food {
    text-align: center;
    padding-bottom: 80px;
    letter-spacing: 2px;
    color: #e6e6e6; }
  .content__wrapper .aboutus__wrapper .food__wrapper .image__food {
    max-height: 250px;
    width: 100%;
    rotate: 3deg; }

@media (min-width: 640px) {
  .content__wrapper {
    flex: none;
    height: 100%; }
    .content__wrapper .aboutus__wrapper .restaurant__wrapper,
    .content__wrapper .aboutus__wrapper .food__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .content__wrapper .aboutus__wrapper .restaurant__wrapper .image__restaurant {
      max-width: 50%; }
    .content__wrapper .aboutus__wrapper .food__wrapper .image__food {
      max-width: 50%; }
    .content__wrapper .underline {
      margin: 0 auto 80px; } }

@media (min-width: 1000px) {
  .content__wrapper .header {
    font-size: 56px;
    padding-top: 80px; }
  .content__wrapper .aboutus__wrapper {
    padding: 0;
    width: 60%; }
    .content__wrapper .aboutus__wrapper .restaurant__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-bottom: 150px; }
      .content__wrapper .aboutus__wrapper .restaurant__wrapper .text__wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 50%;
        order: 1;
        padding: 0 32px; }
        .content__wrapper .aboutus__wrapper .restaurant__wrapper .text__wrapper .header__restaurant {
          padding-top: 0;
          font-size: 32px; }
        .content__wrapper .aboutus__wrapper .restaurant__wrapper .text__wrapper .text__restaurant {
          font-size: 20px;
          font-weight: normal;
          text-align: center;
          line-height: 28px;
          padding-bottom: 24px; }
      .content__wrapper .aboutus__wrapper .restaurant__wrapper .image__restaurant {
        max-width: 25%;
        flex: 1;
        transform: scale(1.5); }
    .content__wrapper .aboutus__wrapper .food__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-bottom: 100px; }
      .content__wrapper .aboutus__wrapper .food__wrapper .text__wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 50%;
        order: 1;
        padding: 0 32px; }
        .content__wrapper .aboutus__wrapper .food__wrapper .text__wrapper .header__food {
          padding-top: 0;
          font-size: 32px; }
        .content__wrapper .aboutus__wrapper .food__wrapper .text__wrapper .text__food {
          font-size: 20px;
          font-weight: normal;
          text-align: center;
          line-height: 28px;
          padding-bottom: 24px; }
      .content__wrapper .aboutus__wrapper .food__wrapper .image__food {
        max-width: 25%;
        order: 2;
        rotate: 3deg;
        flex: 1;
        transform: scale(1.5); } }
